

       <!-- start section footer -->
  <div id="footer" class="text-center">
    <div class="container">
      <div class="socials-media text-center">

        <ul class="list-unstyled">
          <li><a href="<%=general.facebook%>"><i class="ion-social-facebook"></i></a></li>
          <li><a href="<%=general.twitter%>"><i class="ion-social-twitter"></i></a></li>
          <li><a href="<%=general.instagram%>"><i class="ion-social-instagram"></i></a></li>
          <li><a href="<%=general.tumblr%>"><i class="ion-social-tumblr"></i></a></li>
        </ul>

      </div>

      <p>&copy; Copyrights Shafi. All rights reserved.</p>

      <div class="credits">
        <!--
          All the links in the footer should remain intact.
        -->
                Developed by <a href="https://facebook.com/ferari.shafi007">Shafi</a>

      </div>

    </div>
  </div>
  <!-- End section footer -->