<!-- start section navbar -->
  <nav id="main-nav">
    <div class="row">
      <div class="container">

        <div class="logo">
          <a href="/"><img src="../res/img/logo.jpg" alt="logo"></a>
        </div>

        <div class="responsive"><i data-icon="m" class="ion-navicon-round"></i></div>

        <ul class="nav-menu list-unstyled">
          <li><a href="/#header" class="smoothScroll">Home</a></li>
             
             <li class="dropdown smoothScroll">
                    <a class="nav-link dropdown-toggle" href="" id="navbardrop" data-toggle="dropdown">
                         About
                     </a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="/#about">Teaching Philosophy</a>
                        <a class="dropdown-item" href="/resume" target="_blank" >Resume</a>
                        <a class="dropdown-item smoothScroll" href="/#portfolio">My Work</a>
                    </div>
                </li>

                <li class="dropdown smoothScroll">
                    <a class="nav-link dropdown-toggle" href="" id="navbardrop" data-toggle="dropdown">
                        Class Activites
                    </a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="#">Class Lecture</a>
                        <a class="dropdown-item" href="/notice">Notice</a>
                        <a class="dropdown-item" href="/student">Student List</a>
                        <a class="dropdown-item" href="/gallary">Student Gallary</a>

                    </div>
                </li>
          <li><a href="/#journal" class="smoothScroll">Blog</a></li>
          <li><a href="/#contact" class="smoothScroll">Contact</a></li>
        </ul>

      </div>
    </div>
  </nav>
  <!-- End section navbar -->
