<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
<head>

	<title>Mahbubur Rahman | Teacher</title>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />

	<meta name="keywords" content="" />
	<meta name="description" content="" />

	<link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/2.7.0/build/reset-fonts-grids/reset-fonts-grids.css" media="all" /> 
	<link rel="stylesheet" type="text/css" href="../res/css/resume.css" media="all" />

</head>
<body>

<div id="doc2" class="yui-t7">
	<div id="inner">
	
		<div id="hd">
			<div class="yui-gc">
				<div class="yui-u first">
					<h1>Mahbubur Rahman</h1>
					<h2>mahbubhimu@npiub.edu.bd </h2>
				</div>

				<div class="yui-u">
					<div class="contact-info">
						<h3><a href="mailto:name@yourdomain.com"></a></h3>
						<h3></h3>
					</div><!--// .contact-info -->
				</div>
			</div><!--// .yui-gc -->
		</div><!--// hd -->

		<div id="bd">
			<div id="yui-main">
				<div class="yui-b">

					<div class="yui-gf">
						<div class="yui-u first">
							<h2>Profile</h2>
						</div>
						<div class="yui-u">
							<p class="enlarge">
							Teaching that allow me to make use of technology, e-learning and other modern educational tools for learning.
							</p>
						</div>
					</div><!--// .yui-gf -->

					<div class="yui-gf">
						<div class="yui-u first">
							<h2>Skills</h2>
						</div>
						<div class="yui-u">

								<div class="talent">
									<h2>Web Design</h2>
									<p>Assertively exploit wireless initiatives rather than synergistic core competencies.	</p>
								</div>

								<div class="talent">
									<h2>Interface Design</h2>
									<p>Credibly streamline mission-critical value with multifunctional functionalities.	 </p>
								</div>

								<div class="talent">
									<h2>Project Direction</h2>
									<p>Proven ability to lead and manage a wide variety of design and development projects in team and independent situations.</p>
								</div>
						</div>
					</div><!--// .yui-gf -->

					<div class="yui-gf">
						<div class="yui-u first">
							<h2>Participations</h2>
						</div>
						<div class="yui-u">
							<p>Intra DUET Programming Contest.</p>
							<p>"Inter-University Project Exhibition" organized by Power Division, Bangladesh.	</p>
							<p>“Google Developer Study Jam” Powered by Google.</p>
							<p>“Entrepreneurship training” conducted by Y-gap, Australia.</p>
						</div>
					</div><!--// .yui-gf-->

					<div class="yui-gf">
						<div class="yui-u first">
							<h2>Volunteerism</h2>
						</div>
						<div class="yui-u">
							<p>Dr. F.R Khan Hall Committee, DUET (2014-2016).</p>
							<p>DUET Computer Society (Project and Development).</p>
							<p>Jalalabad Students Welfare Organization (Vice President).</p>
						</div>
					</div><!--// .yui-gf-->

					<div class="yui-gf">
						<div class="yui-u first">
							<h2>Awards</h2>
						</div>
						<div class="yui-u">
							<p>Intra-DUET project exhibition 2014(1st place).</p>
							<p>Channel-i Shera Nobin Uddokta - 2019</p>
							
						</div>
					</div><!--// .yui-gf-->

					<div class="yui-gf">
						<div class="yui-u first">
							<h2>Thesis</h2>
						</div>
						<div class="yui-u">
							<p><strong> A Probabilistic Model for Traffic Lane Switching Using GPS Traces.</strong></p>
							
						</div>
					</div><!--// .yui-gf-->



					<div class="yui-gf">
	
						<div class="yui-u first">
							<h2>Experience</h2>
						</div><!--// .yui-u -->

						<div class="yui-u">

							<div class="job">
								<h2>NPI University of Bangladesh</h2>
								<h3>Lecturer, Dept. Of CSE</h3>
								<h4>Summer 2018 – Present</h4>
								<p><strong>Taught the following subjects:</strong>  </p><p>
•	Structured Programming (Using C)
•	Database Systems 
•	Mobile Application Development 
•	Algorithm Analysis and Design
•	Computer and Network Security 
</p>
							</div>

							<div class="job last">
								<h2>Institute of Science Trade & Technology</h2>
								<h3>Lecturer, Dept. Of CSE</h3>
								<h4>Summer 2017 – Winter 2018</h4>
<p><strong>Taught the following subjects:</strong>  </p><p>
•	Algorithm Analysis and Design
•	Data Structure
 
</p>							</div>

							

						</div><!--// .yui-u -->
					</div><!--// .yui-gf -->


					<div class="yui-gf last">
						<div class="yui-u first">
							<h2>Education</h2>
						</div>
            <div  class="yui-u">
              
						<div class="job">
							<h2>Dhaka University of Engineering and Technology, Gazipur, Bangladesh</h2>
							<h3>B.Sc in Computer Science & Engineering, November, 2016 </h3>
						</div> 
            <div class="job">
							<h2>Sylhet Polytechnic Institute, Sylhet, Bangladesh</h2>
							<h3>Diploma in Computer Engineering, July, 2011 </h3>
						</div>
            <div class="job last">
							<h2>Jalalpur High School, Sylhet, Bangladesh</h2>
							<h3>Secondary School Certificate, June, 2006</h3>
						</div>
            </div>
					</div><!--// .yui-gf -->


				</div><!--// .yui-b -->
			</div><!--// yui-main -->
		</div><!--// bd -->

		<!--// footer -->

	</div><!-- // inner -->


</div><!--// doc -->


</body>
</html>

